.toolbarDiv {
  width: 130px;
  overflow: hidden;
}

.dw-Toolbar {
  display: flex;
  align-items: center;
  background: #eef1f2;
  justify-content: space-between;
  padding: 0 5px;
  cursor: pointer;
}

.ui-widget-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: #c8ced1;
  border: 1px solid transparent;
  margin-top: "1px";
  font: bold 11px Arial, sans-serif;
}

.ui-annotation-tools {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  margin: 4px;
}

.ui-annotation-tool {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef1f2;
  border: 1px solid #c8ced1;

  padding: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
